{% include '/scripts.html'  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Ventas
      </title> 
</head>
<main class="main text-center py-4"> 
<body>
    {% include '/nav.html'  %}
    <h1 class="text-center text-warning">Historial de Ventas</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.producto.nombre }}</td>
                <td>{{ venta.cantidad }}</td>
                <td>{{ venta.fecha.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</main>
</html>
